body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

label,
input,
button,
.alert {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}

* {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    background-color: #dddddd;
    width: 460px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 15px;
  border-radius: 25px;
  height: 50px;
  width: 200px;
}

.alert {
  margin-top: 15px;
  padding: 15px;
}

.success,
.alert-success {
  background-color: #28a745;
  color: white;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  min-height: 30px;
}

.center {
  margin: 0 auto;
}
